body {
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.1), rgba(197, 197, 197, 0.9));
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transition: background 0.5s;
}

.hero {
    background-image: url(../image/fundo_justica.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 0 0 80px 0;
    text-align: center;
}

.hero h1 {
    font-size: 2.8rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.2rem;
}

.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #1e1f20;
    color: #ccc;
    text-align: center;
    padding: 20px 0;
}

.form-section {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    margin-bottom: 50px;
}

.form-label {
    font-weight: 500;
}

#formVotacao {
    background-color: #242e35;
    color: #F2F5F5;
}

#formVotacao strong {
    color: #C9A13C;
}

.aluno-card {
    transition: transform 0.2s, box-shadow 0.2s;
}

.aluno-card:hover {
    transform: scale(1.05);
}

.selecionado-favor {
    background-color: #7da4c4;
    transform: scale(1.10);
    box-shadow: 0 5px 20px #0d6efd4d;
}

.selecionado-contra {
    background-color: #c47d7d;
    transform: scale(1.10);
    box-shadow: 0 5px 20px #fd0d0d4d;
}

.posicao-card {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border: 2px solid transparent;
}

.posicao-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.posicao-card.selecionado {
    border-color: #C9A13C;
    box-shadow: 0 0 10px #C9A13C;
    transform: scale(1.10);
}